---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Blogs" sideBarActiveItemID="blogs">
  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5">Projects Header</div>
  </div> -->

  <HorizontalCard
    title="Building Virtual Keyboard: A Step-by-Step Development Process"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/virtual-keyboard-html/"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="SOLID Principles: The Foundation of Robust Object-Oriented Design"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/solid-principles/"
  />
  <HorizontalCard
    title="Reasons to consider Django Rest Framework: A Comprehensive Guide"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/reasons-to-consider-django-rest-framework/"
  />
  <HorizontalCard
    title="Stack Data Structure in JavaScript"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/stack-in-javascript/"
  />
  <HorizontalCard
    title="Queue Data Structure in JavaScript [with OOP]"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/queue-in-javascript/"
  />
  <HorizontalCard
    title="Complete Beginner's Guide to GitHub, Gist: Collaborative Coding and Version Control"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/guide-to-github/"
  />
  <HorizontalCard
    title="30 JavaScript Project Ideas"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/javascript-project-ideas/"
  />
  <HorizontalCard
    title="Fast Fourier Transformation and its Application in Polynomial Multiplication"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/fast-fourier-transformation-and-multiplication/"
  />
  <HorizontalCard
    title="Star Rating in HTML: A Guide to Implementing and Utilizing User Ratings"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/star-rating-in-html/"
  />
  <HorizontalCard
    title="16 Uses of Machine Learning (ML, DL, AI) in Web Development"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/machine-learning-in-web-development/"
  />
  <HorizontalCard
    title="Occam’s Razor in UX Design: Simplifying User Experiences for Maximum Impact"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/occams-razor-in-ux-design/"
  />
  <HorizontalCard
    title="Postel’s Law in UX Design: Striving for Robust and User-Friendly Experiences"
    img="/BlogsImage.jpg"
    desc=""
    url="https://iq.opengenus.org/postels-law-in-ux-design/"
  />
  
</BaseLayout>
